.checkbox--item + label {
  align-items: flex-start;
}

.checkbox--item + label::before {
  margin-top: 37.5px;
}

@media screen and (max-width: 580px) {
  .checkbox--item + label::before {
    margin-top: -28px;
    margin-left: 4px;
  }
}
