.item__subtitle-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 580px) {
  .item__subtitle-container {
    display: none;
  }
}
