.basket-list__delete {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  background-color: transparent;
  transition: 0.5s;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url(../../../images/delete.svg);
}
