.header__logo {
  max-width: 106px;
  height: 56px;
  margin: 0 0 0 0;
}

@media screen and (max-width: 1240px) {
  .header__logo {
    height: 48px;
  }
}

@media screen and (max-width: 580px) {
  .header__logo {
    height: 24px;
    max-width: 198px;
    width: 100%;
    margin-top: -4px;
  }
}
