.basket-list__span {
  align-self: flex-start;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.3px;
  margin-bottom: 7px;
  color: #F55123;
}

@media screen and (max-width: 580px) {
  .basket-list__span {
    align-self: center;
  }
}

