.delivery__refund-icon {
  display: inline-block;
  position: absolute;
  top: -3px;
  left: -30px;
  padding: 0;
  height: 22px;
  width: 22px;
  background: url(../../../images/price_shipping.svg);
}
