.sidebar-payment__subtitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  max-width: 139px;
  min-width: none;
  width: 100%;
  height: fit-content;
  margin: 2px 13px 0 8px;
  white-space: nowrap;
}

.sidebar-payment__subtitle--origin {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 2px 13px -2px 8px;
}
