.sidebar-delivery__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

@media screen and (max-width: 580px) {
  .sidebar-delivery__subtitle {
    display: none;
  }
}
