.sidebar {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 12px;
  margin: 22px 24px 0 0;
  background-color: #fff;
  border-radius: 16px;
  height: fit-content;
  max-width: 429px;
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media screen and (max-width: 1000px) {
  .sidebar {
    position: static;
    max-width: 90vw;
    margin: -20px auto 24px;
  }
}

@media screen and (max-width: 580px) {
  .sidebar {
    max-width: 532px;
    background-color: #F6F6FA;
    box-shadow: none;
    margin: -48px auto 0;
  }
}
