.header__form {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #8551b9;
  max-width: 970px;
  min-width: none;
  width: 100%;
  height: 48px;
  border-radius: 34px;
  box-sizing: border-box;
  margin: 4px 0 0 0;
  padding: 0 22px 0 15px;
}
