.sidebar-delivery__span {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #CB11AB;
  text-decoration: underline dashed #f5cfee;
  text-underline-offset: 4px;
}

@media screen and (max-width: 580px) {
  .sidebar-delivery__span {
    display: none;
  }
}
