.basket-list__accordion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid #dddde1;
  max-width: 891px;
  width: 100%;
}

@media screen and (max-width: 1020px) {
  .basket-list__accordion {
    border-bottom: none;
  }
}

@media screen and (max-width: 580px) {
  .basket-list__accordion {
    min-width: 288px;
    padding-bottom: 2px;
    border-bottom: none;
  }
}
