.item__subtitle {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #9797AF;
  margin: 8px 0 4px 0;
  position: relative;
}

.item__subtitle:nth-last-child(2) {
  margin: 0;
}

.item__subtitle:last-child {
  margin: 0;
}
