.basket-list__price_title--span {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}


@media screen and (max-width: 580px) {
  .basket-list__price_title--span {
    display: flex;
    align-items: flex-end;
  }
}
