.sidebar-confirmation {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 381px;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .sidebar-confirmation {
    align-items: center;
    max-width: 852px;
  }
}

@media screen and (max-width: 540px) {
  .sidebar-confirmation {
    align-items: self-start;
  }
}
