.sidebar-delivery__icon {
  width: 22px;
  height: 22px;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: #F6F6FA;
  background-position: center;
}

@media screen and (max-width: 580px) {
  .sidebar-delivery__icon {
    background-color: #F0ECF4;
  }
}
