.button__delete {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  background-color: transparent;
  transition: 0.5s;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url(../../../images/delete.svg);
  opacity: 0;
}

.button__delete:hover {
  background-image: url(../../../images/delete-active.svg);
}

.item:hover .button__delete {
  opacity: 1;
}


@media screen and (max-width: 580px) {
  .button__delete {
    opacity: 1;
  }
}
