.basket-list__container-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 56px;
  height: 20px;
}

@media screen and (max-width: 580px) {
  .basket-list__container-btn {
    width: 65px;
  }
}
