.button__like {
  opacity: 0;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  background-color: transparent;
  transition: 0.5s;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url(../../../images/like.svg);
}

.button__like:hover {
  background-image: url(../../../images/like_hover.svg);
}

.item:hover .button__like {
  opacity: 1;
}

@media screen and (max-width: 580px) {
  .button__like {
    opacity: 1;
  }
}
