.sidebar-total__subtitle {
  margin: 0 0 9px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: right;
}

.sidebar-total__subtitle--valet {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

@media screen and (max-width: 580px) {
  .sidebar-total__subtitle {
    font-size: 20px;
    line-height: 28px;
  }
}
