.tooltip__container--discount {
  display: flex;
  flex-direction: column;
  left: 55%;
  width: fit-content;
  gap: 8px;
}

@media screen and (max-width: 1250px) {
  .tooltip__container--discount {
    left: 50%;
  }
}

@media screen and (max-width: 580px) {
  .tooltip__container--discount {
    display: none;
  }
}

