.item__img {
  width: 72px;
  height: 96px;
  border-radius: 8px;
}

@media screen and (max-width: 580px) {
  .item__img {
    position: absolute;
    left: 0;
    top: -32px;
    width: 80px;
    height: 106px;
  }
}
