.basket-list__price {
  display: flex;
  flex-direction: column;
  max-width: 110px;
  width: 100%;
  margin-top: -4px;
  gap: 5px;
  height: 10px;
}

@media screen and (max-width: 580px) {
  .basket-list__price {
    flex-direction: row;
    position: absolute;
    top: 16px;
    margin-left: 90px;
    height: 24px;
    align-items: flex-end;
    margin-top: -20px;
  }
}

