.item__img--sold-out {
  margin-right: 17px;
}

@media screen and (max-width: 580px) {
  .item__img--sold-out {
    position: absolute;
    left: 0;
    top: -72px;
    width: 80px;
    height: 106px;
  }
}

