.recipient__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 23px;
}

.recipient__container:last-child {
  margin-top: 4px;
}

@media screen and (max-width: 680px) {
  .recipient__container {
    flex-direction: column;
    margin-top: 25px;
  }
}
