.recipient__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}

@media screen and (max-width: 1020px) {
  .recipient__container {
    flex-direction: column;
    margin-top: 25px;
  }
}
