.header__input {
  outline: none;
  border: none;
  background-color: #8551b9;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.header__input::placeholder {
  color: #c2a8dc;
}

