.basket-list {
  display: flex;
  flex-direction: column;
  max-width: 891px;
  min-width: 638px;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .basket-list {
    min-width: 400px;
  }
}

@media screen and (max-width: 580px) {
  .basket-list {
    min-width: 288px;
  }
}

@media screen and (max-width: 320px) {
  .basket-list {
    max-width: 288px;
    margin: 0 16px;
  }
}

