.item__title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  max-width: 257px;
  width: 100%;
}

@media screen and (max-width: 580px) {
  .item__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    max-height: 400px;
    width: 192px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
