.header {
  max-width: 1400px;
  width: 100%;
  margin: 0;
  gap: 32px;
  padding: 16px 0 16px 0;
}

@media screen and (max-width: 1240px) {
  .header {
    margin: 0;
  }
}

@media screen and (max-width: 580px) {
  .header {
    padding: 0;
    margin: 0 auto;
  }
}
