.item__description {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-left: 16px;
  padding: 0;
  max-width: 257px;
  width: 100%;
}

@media screen and (max-width: 580px) {
  .item__description {
    position: absolute;
    max-width: 192px;
    top: -5px;
    left: 81px;
  }
}
