.popup__submit {
  width: 164px;
  height: 44px;
  border-radius: 8px;
  background-color: #CB11AB;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
  padding-bottom: 6px;
  margin-top: 16px;
}

@media screen and (max-width: 580px) {
  .popup__submit {
    position: absolute;
    bottom: 16px;
    left: 16px;
    width: 288px;
  }
}
