.delivery {
  margin-top: 34px;
  border-radius: 16px;
  background-color: #fff;
  max-width: 891px;
  min-width: 638px;
  width: 100%;
}

@media screen and (max-width: 1020px) {
  .delivery {
    min-width: 400px;
    max-width: 900px;
  }
}

@media screen and (max-width: 580px) {
  .delivery {
    margin: 34px auto 0;
    min-width: 284px;
  }
}

@media screen and (max-width: 320px) {
  .delivery {
    min-width: 320px;
  }
}

